body
{
	font-size: 12px;
	font-family: Lucida Sans Unicode;
	color: #333;
	background: #000000;
}
h1
{
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	font-family: Lucida Sans Unicode; /*border-bottom: 1px solid #000;*/
}
#container
{
	width: 970px;
	margin: 0 auto;
}
#content
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 0px 10px 10px;
	width: 960px;
	float: left;
	background-color: #fff;
}

#content_default
{
	width: 500px;
	background-color: #000000;
	margin: 0 auto;
	margin-top: 15%;
	height: 300px;
	padding: 40px 0px 0px 15px;
	border-top: 1px solid #f7a30f;
	border-left: 1px solid #f7a30f;
	border-right: 1px solid #f7a30f;
	border-bottom: 1px solid #f7a30f;
	-moz-box-shadow: 6px 6px 0px #131313;
	-webkit-box-shadow: 6px 6px 0px #131313;
	box-shadow: 6px 6px 0px #131313;
}

.btn_enviar
{
	width: 89px;
	height: 40px;
	background-color: Black;
	border: 1px solid #4e4e4e;
	color: #ffcc00;
	font-size: 18px;
	cursor: pointer;
	margin-left: 59px;
}

.linha_default
{
	width: 285px;
	margin-bottom: 15px;
}

.coluna_texto_default
{
	width: 60px;
	float: left;
	margin-top: 7px;
	font-size: 14px;
}

.coluna_campo_default
{
	width: 225px;
	float: left;
}

.botao_default
{
	width: 285px;
	margin-top: 15px;
}

.logo_default
{
	width: 190px;
	float: left;
	padding: 0px 0px 0px 15px;
}

.texto_default
{
	width: 285px;
	float: left;
	padding: 67px 0px 15px 0px;
}

#menu ul
{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	background-color: #EDEDED;
	list-style: none;
}
#menu ul li
{
	display: inline;
}
#menu ul li a
{
	font-family: Lucida Sans Unicode;
	font-size: 14px;
	padding: 2px 10px;
	float: left; /* visual do link */
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid #EDEDED;
}
#menu ul li a:hover
{
	background-color: #D6D6D6;
	color: #6D6D6D;
	border-bottom: 3px solid #EA0000;
}
.botao
{
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */ /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px; /*border-radius: 7px;*/
	height: 30px;
	font-family: Lucida Sans Unicode;
}

.input_contato
{
	width: 180px;
	background-color: #292929;
	border: 1px solid #4f4f4f;
	height: 20px;
	float: left;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
}

.linha_projeto
{
	width: 650px;
	border: 1px solid #4f4f4f;
	float: left;
	margin: 7px 0px 15px 0px;
}

.campos
{
	margin-top: 5px;
	margin-bottom: 7px;
	width: 100%;
}
.campo_titulo
{
	width: 250px;
	float: left;
	margin-bottom: 5px;
}
.campo
{
	width: 710px;
	float: left;
	margin-bottom: 5px;
}
.filtros
{
	margin-top: 5px;
	margin-bottom: 7px;
	padding: 6px 0px 6px 0px;
	border: 1px solid #EDCCFF;
	float: left;
	width: 500px;
}

.campo_titulo_filtro
{
	width: 120px;
	float: left;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.campo_filtro
{
	width: 170px;
	float: left;
	text-align: left;
	vertical-align: middle;
}

.botao_filtro
{
	width: 80px;
	margin: 15px 0px 0px 0px;
	float: left;
}

.linha_filtro
{
	width: 100%;
	float: left;
}

.clear
{
	clear: both;
}

/*  Menus drop-down horizontal-vertical (hv) e vertical-vertical (vv) até 4 níveis
    by Micox - elmicox.blogspot.com - Ver. 2.0 - 20/02/08 - Creative Commons License
*/

.topo_admin
{
	width: 970px;
}

.logo
{
	width: 90px;
	height: 134px;
	margin-top: 15px;
	float: left;
}

.divisao_menu_admin
{
	width: 970px;
	border-bottom: 1px solid #28449C;
}

.menu-hv, .menu-vv
{
	position: relative;
	margin: 0;
	padding: 0;
	display: block; /*zoom: 1;*/
	width: 836px;
	margin-top: 134px;
	float: left;
}
.menu-hv *, .menu-vv *
{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-hv li, .menu-vv li
{
	position: relative;
	vertical-align: top;
}
.menu-hv a, .menu-vv a
{
	display: block; /*zoom: 1;*/
	text-decoration: none;
	color: #fff;
	font-family: Lucida Sans Unicode;
	font-size: 14px;
}
.menu-hv li ul, .menu-vv li ul
{
	position: absolute;
	visibility: hidden;
	top: 20px;
	border-bottom: 1px solid #28449C;
	border-left: 1px solid #28449C;
	border-right: 1px solid #28449C;
	padding-top: 6px;
}
.menu-hv li:hover ul, .menu-vv li:hover ul, .menu-hv li.hover ul, .menu-vv li.hover ul
{
	visibility: visible;
}
.menu-hv li:hover ul ul, .menu-vv li:hover ul ul, .menu-hv li.hover ul ul, .menu-vv li.hover ul ul
{
	visibility: hidden;
}
.menu-hv li li:hover ul, .menu-vv li li:hover ul, .menu-hv li li.hover ul, .menu-vv li li.hover ul
{
	visibility: visible;
}
.menu-hv li li:hover ul ul, .menu-vv li li:hover ul ul, .menu-hv li li.hover ul ul, .menu-vv li li.hover ul ul
{
	visibility: hidden;
}
.menu-hv li li li:hover ul, .menu-vv li li li:hover ul, .menu-hv li li li.hover ul, .menu-vv li li li.hover ul
{
	visibility: visible;
}

/* características horizontal-vertical */

.menu-hv:after, .menu-hv.after
{
	content: ".";
	line-height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
}
.menu-hv li
{
	float: left;
}
.menu-hv li ul li
{
	float: none;
	padding: 3px 3px 3px 7px;
	width: 180px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
}
.menu-hv li ul li ul
{
	position: absolute;
	left: 100%;
	top: 0;
}

/* características vertical-vertical */

.menu-vv
{
	float: left;
}
.menu-vv li ul
{
	left: 100%;
	top: 0;
}

/* ****************************************
   ALTERE ABAIXO. defina a largura, cor, formatações, etc, dos itens do seu menu abaixo
   ou apague as linhas se for definir em outro lugar
 */

.menu-hv li
{
	background-color: #000000;
	margin-left: 32px;
	margin-right: 50px;
	margin-top: 4px;
	line-height: 20px;
}
.menu-vv li
{
	width: 185px;
	background-color: #EDEDED;
}
.menu-hv li a:hover
{
	color: #F7A30F;
	background-color: Black;
}
.menu-vv li a:hover
{
	background-color: #D6D6D6;
	color: #6D6D6D;
}

/* Micox Pseudo-class-css2 to IE (MXPC). Activate .hover and .first-child in IE 6
   http://elmicox.blogspot.com/2008/03/ativando-hover-e-first-child-no-ie-6-um.html 
   Deixe isto ao final de tudo do seu CSS pois o Webkit não interpreta nada mais abaixo do expression */

* html *
{
	/*color: expression( (function(who){ if(!who.MXPC){  who.MXPC = '1';  if(who.nodeName != 'A'){   who.onmouseenter=function(){ who.className += ' hover'};   who.onmouseleave=function(){ who.className = who.className.replace(' hover','')}; }  (who==who.parentNode.firstChild) ? who.className += ' first-child' : '' ; } } )(this) , 'auto' );*/
}

/*reutilizável --------------------*/
.margin_right_0
{
	margin-right: 0px !important;
}
.margin_top_0
{
	margin-top: 0px !important;
}

.clear
{