<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
  </appSettings>
  <connectionStrings>
    <add name="StringConexao" connectionString="Persist Security Info=False;Server=186.202.13.7;Database=webgma;Uid=webgma;Pwd=teacuerdas04;"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
