
body
{
	margin: 0;
	padding: 0;
	background-image: url(../../img/bg_geral.jpg);
	background-repeat: repeat;
	font-family: Lucida Sans Unicode;
}

h1, h2, h3, h4, h5, ul, li, a, p
{
	margin: 0;
	padding: 0;
}

/*intro --------------------*/

#container_intro
{
	width: 960px;
	height: 571px;
	margin: 0 auto;
	background-image: url(../../img/bg_intro.jpg);
	background-repeat: repeat;
	margin-top: 50px;
}

.container_idiomas
{
	width: 277px;
	margin: 0 auto;
	padding-top: 83px;
}

.logo_intro
{
	width: 168px;
	margin: 0 auto;
}

.links_idiomas
{
	width: 280px;
	border-top: 1px solid #404040;
	margin-top: 18px;
	padding-top: 15px;
}

a.idioma
{
	float: left;
	font-size: 12px;
	text-decoration: none;
	margin-right: 42px;
	color: #ffffff;
}

a.idioma:hover
{
	color: #3147b2;
}

a.idioma span
{
	color: #3147b2;
}


/*header ---------------------*/

.container_geral
{
	width: 960px;
	margin: 0 auto;
}

.topo
{
	width: 960px;
	margin-top: 12px;
}

.layer_inf
{
	width: 960px;
	position: relative;
	z-index: 1;
}

.divisao_header
{
	width: 960px;
	border-bottom: 1px solid #28449c;
	margin-top: 5px;
}

.logo
{
	width: 90px;
	height: 134px;
	float: left;
	margin-top: 15px;
}

/*drop ------------------- */

.menu
{
	width: 687px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding-top: 130px;
	margin-left: 280px;
}

ul#topnav
{
	margin: 0;
	padding: 0 0 0 0;
	float: left;
	width: 834px;
	list-style: none;
	position: relative;
	font-size: 11px;
}
ul#topnav li
{
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
}
ul#topnav li a
{
	padding: 17px 23px 5px 23px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
ul#topnav li a:hover
{
	color: #F7A30F;
	background-color: Black;
	border-top: 1px solid #28449c;
	border-left: 1px solid #28449c;
	border-right: 1px solid #28449c;
	border-bottom: 2px solid #00000;
	padding: 16px 22px 5px 22px;
}
ul#topnav li span
{
	float: left;
	padding: 9px 10px 0 0;
	position: absolute;
	left: 0;
	top: 37px;
	margin-left: -6px;
	display: none;
	width: 834px;
	color: white;
}
ul#topnav li:hover span
{
	display: block;
}
ul#topnav li span a
{
	display: inline;
	padding: 7px 22px 5px 22px !important;
	margin-right: 17px;
}
ul#topnav li span a:hover
{
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: #F7A30F;
	margin-left: 0px;
}

.parceiro
{
	width: 139px;
	height: 134px;
	float: right;
	overflow: hidden;
	margin-top: 10px;
}



/*main --------------------*/

.main
{
	width: 960px;
}

.banner_destaque
{
	width: 960px;
	margin-top: 35px;
}

.lateral_banner
{
	width: 284px;
	height: 395px;
	background-image: url(../../img/bg_lateral_banner.png);
	background-repeat: repeat-y;
	position: absolute;
	z-index: 2;
}

.sidebar_left_projetos
{
	width: 241px;
	height: 403px;
	background-color: #f7a30f;
	margin-top: 34px;
	float: left;
}

.sidebar_left_projetos h2
{
	color: #000000;
	font-size: 24px;
	padding-top: 17px;
	padding-left: 10px;
	font-family: Lucida Sans;
}

.sidebar_left_projetos span
{
	color: #ffffff;
	font-size: 14px;
	width: 220px;
	margin-left: 10px;
	display: block;
	margin-top: 15px;
}

.sidebar_rigth_projetos
{
	width: 709px;
	float: left;
	margin-top: 34px;
	margin-left:9.6px;
}

/* Slide projetos */


#carrossel
{
	width: 687px;
	height: 375px;
	overflow: hidden;
	margin: 0 auto;
}

.setas_projetos
{
	width: 687px;
	margin-left:22px;
	margin-top:6px;
}

#carrossel ul
{
	list-style: none;
}

#carrossel ul li
{
	float: left;
	display: inline;
	width: 687px;
	padding-left:22.6px;
	
}

a.prev
{
	width:11px;
	height:21px;
	display:block;
	float:left;
	
	}


a.next
{
	width:11px;
	height:21px;
	display:block;
	float:right;
	text-decoration:none;
	}


.bloco_projeto
{
	float: left;
	width: 119px;
	margin-right: 22.6px;
	text-decoration:none;
}

.bloco_projeto a
{
	display:block;
	
	}

.divisao_bloco_projetos
{
	width: 500px;
	border: 1px solid #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.bloco_projeto_vazio
{
	float: left;
	width: 117px;
	height: 85px;
	margin-right: 22.6px;
	border: 1px solid #f6ae02;
	margin-bottom:30px;
}

.bloco_projeto img
{
	width: 119px;
	height: 87px;
}

.descricao_bloco_projeto
{
	width: 119px;
	text-align: right;
}

.descricao_bloco_projeto span
{
	font-size: 12px;
	color: #ffffff;
	text-align: right;
}

span.texto_menor
{
	display: inline !important;
    font-size: 11px !important;
    margin-top: 0 !important;
}

.descricao_projeto
{
	width: 284px;
}

.descricao_projeto h2
{
	color: #000000;
	font-size: 37px;
	padding-top: 17px;
	padding-left: 25px;
	font-family: Lucida Sans;
}

.descricao_projeto h3
{
	color: Black;
	font-size: 24px;
	float: right;
	font-weight: bolder;
	margin-right: 53px;
}

.descricao_projeto span
{
	color: #ffffff;
	font-size: 14px;
	width: 220px;
	margin-left: 10px;
	display: block;
	margin-top: 15px;
}

span.branca
{
	color: #ffffff;
	border: none;
	font-size: 37px;
}
.divisao_descricao
{
	width: 220px;
	height: 1px;
	border-bottom: 1px solid #ffb83a;
	margin-left: 10px;
	margin-top: 5px;
}

.container_interna_projetos
{
    border-bottom: 1px solid #28449C;
    padding-bottom: 5px;
    width: 960px;
    margin-top:20px;
	
	}

.container_interna_projetos h4
{
    font-size:14px;
	color:#ffffff;
	font-weight:normal;	
}
.container_sidebar_left
{
	width:361px;
	float:left;
	padding-top:15px;
	
	}

.container_sidebar_left h2
{
	font-size:28px;
	color:#ffffff;	
	}	

.container_sidebar_left p
{
	font-size:13px;
	color:#ffffff;
	width:331px;
	height:425px;
	background-color:#f7a30f;
	padding:15px;
	line-height:18px;
	margin-top:15px;
	margin-bottom:20px;	
	}			

.container_sidebar_right
{
	width:556px;
	float:right;
	padding-top:20px;
	 
	}


.container_sidebar_right h3
{
	font-size:15px;
	color:#ffffff;
	
	}

.container_info_sidebar_right
{
	width:556px;
	margin-bottom:51px;

	
	}

.left_info_sidebar_right
{
	width:280px;
	float:left;
	margin-top: 38px;
	
	}
.left_info_sidebar_right span
{
	font-size:13px;
	color:#d5d5d5;
	margin-top:10px;
	display:block;
	
	}	

.right_info_sidebar_right
{
	width:229px;
	float:right;
	margin-top: 38px;
	
	}

.border_azul_menor
{
	border-bottom: 1px solid #28449C;
	padding-bottom:10px;
	margin-bottom:10px;
	
	}	

.right_info_sidebar_right span
{
	font-size:13px;
	color:#d5d5d5;
	margin-top:10px;
	display:block;
	
	}									

/*################### banner carrossel #############################*/

.buttons
{
	width: 155px;
	height: 13px;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 170px;
	margin-top: 370px;
}
.buttons span
{
	color: #0080FF;
	padding: 0 12px;
	cursor: pointer;
	background-image: url(../../img/bullet_banner_inativo.jpg);
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
}
.buttons span.active, .buttons span:hover
{
	background-image: url(../../img/bullet_banner_ativo.jpg);
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
}

.buttons_slide_int
{
	width: 958px;
	height: 9px;
	margin-top:7px;

	}

.buttons_slide_int span
{
	
	cursor: pointer;
	background-image: url(../../img/marcador_banner_inativo.jpg);
	background-repeat: no-repeat;
	width: 145px;
	height: 9px;
	margin-right: 17.6px;
	display:block;
	float:left;
}
.buttons_slide_int span.active, .buttons_slide_int span:hover
{
	background-image: url(../../img/marcador_banner_ativo.jpg);
	background-repeat: no-repeat;
	width: 145px;
	height: 9px;
	display:block;
	float:left;
}



#box4
{
	position: absolute;
}

#box4 p
{
	text-indent: 16px;
}

/* ********************************** */

.mask3
{
	position: relative;
	width: 961px;
	height: 395px;
	overflow: hidden;
	z-index: 1;
}

.container_banner
{
	width: 961px;
	height: 395px;
	float: left;
}

.mask4
{
	position: relative;
	width: 958px;
	height: 400px;
	overflow: hidden;
	z-index: 1;
}


.container_banner_2
{
	width: 958px;
	height: 400px;
	float: left;
}

/*################### fim banner carrossel #############################*/

/*footer ---------------------*/

footer
{
	width: 960px;
}

.footer_sup
{
	width: 960px;
	border-bottom: 1px solid #28449c;
	padding-bottom: 5px;
}

.container_link_box
{
	width: 392px;
	float: left;
	margin-top: 10px;
	padding-left: 192px;
}

a.link_box
{
	text-decoration: none;
	font-size: 11px;
	color: #ffffff;
	margin-right: 107px;
}

.titulo_noticias
{
	width: 376px;
	float: left;
}


.titulo_noticias span
{
	color: #F7A30F;
	display: block;
	font-size: 11px;
	margin-top: 13px;
}

.footer_inf
{
	width: 960px;
}

.redes_sociais
{
	width: 567px;
	padding-left: 17px;
	padding-top: 32px;
	float: left;
}

.icone_rede_social
{
	float: left;
	margin-right: 15px;
}

#noticias
{
	width: 376px;
	height: 90px;
	float: left;
	margin-top: 11px;
	overflow: hidden;
}


#noticias ul
{
	list-style: none;
	width: 359px !important;
	float: left;
	height:80px !important;
}


#noticias ul li
{	
	width: 346px !important;
}

.setas_noticias
{
	width: 17px;
	float: left;
}

a#up
{
	width: 17px;
	height: 10px;
	display: block;
	background-image: url(../../img/up_noticias.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -900px;
}

a#down
{
	width: 17px;
	height: 10px;
	display: block;
	background-image: url(../../img/dow_noticias.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -900px;
	margin-top: 50px;
}

span.noticia_list a {
    background-image: url("../../img/bullet_noticias.jpg");
    background-position: 0 3px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    margin-bottom: 24px;
    padding-left: 25px;
    padding-right: 35px;
    text-decoration: none;
    width: 326px;

}

/*reutilizável --------------------*/
.margin_right_0
{
	margin-right: 0px !important;
}
.margin_top_0
{
	margin-top: 0px !important;
	
	}

.clear
{
	clear: both;
}

/*modal -----------------------*/

.load
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 88px;
	height: 78px;
	margin: -39px 0 0 -44px;
	z-index: 99999;
}
.bg_modal
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99998;
}
.view_modal
{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: left;
	z-index: 99998;
}
.modal
{
	visibility: hidden;
	cursor: pointer;
}

.container_contato
{
	width: 773px;
	border-bottom: 10px solid #2a2a2a;
	background-color: Black;
	padding-left: 17px;
}

.container_contato h2
{
	
	color: #F7A30F;
	font-size: 32px;
	padding: 20px;
	float: left;
	width: 400px;
}

.titulo_contato
{
	width: 773px;
}

.divisao_titulo
{
	width: 722px;
	border-bottom: 1px solid #363636;
	margin-left: 23px;
	margin-bottom: 22px;
}


.container_espaco_cliente
{
	width: 500px;
	border-bottom: 10px solid #2a2a2a;
	background-color: Black;
	padding-left: 17px;
}

.container_espaco_cliente h2
{
	
	color: #F7A30F;
	font-size: 32px;
	padding: 20px;
	float: left;
	width: 300px;
}

.titulo_espaco_cliente
{
	width: 500px;
}

.divisao_titulo_espaco_cliente
{
	width: 450px;
	border-bottom: 1px solid #363636;
	margin-left: 23px;
	margin-bottom: 22px;
}


a.close
{
	width: 29px;
	height: 28px;
	float: right;
	background-image: url(../../img/close.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -900px;
	margin: 23px 32px 0 0;
}

.container_campos_info
{
	width: 773px;
}

.container_campo
{
	width: 473px;
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
}

.campo
{
	width: 475px;
	margin-bottom: 12px;
}

.campo span
{
	width: 88px;
	text-align: right;
	margin-right: 12px;
	display: block;
	float: left;
	font-size: 14px;
	color: #ffffff;
	margin-top: 9px;
}

span.validat
{
	width: 2px !important;
	margin-right: 0px !important;
	
	}

.container_info
{
	width: 270px;
	float: left;
	padding-left: 20px;
}

.container_info h3
{
	font-size: 18px;
	color: #ffcc00;
	font-weight: normal;
}

.container_info span
{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 10px;
}


.btn_enviar
{
	width: 89px;
	height: 40px;
	background-color: Black;
	border: 1px solid #4e4e4e;
	color: #ffcc00;
	font-size: 18px;
	cursor: pointer;
	float: right;
	margin-right: 9px;
}

.input_contato
{
	width: 354px;
	background-color: #292929;
	border: 1px solid #4f4f4f;
	height: 26px;
	float: left;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
}

.input_contato_mensagem
{
	width: 354px;
	background-color: #292929;
	border: 1px solid #4f4f4f;
	height: 86px;
	float: left;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	overflow: hidden;
}

.input_contato_ddd
{
	width: 90px;
	background-color: #292929;
	border: 1px solid #4f4f4f;
	height: 26px;
	float: left;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
}

.input_contato_telefone
{
	width: 234px;
	background-color: #292929;
	border: 1px solid #4f4f4f;
	height: 26px;
	float: left;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	margin-left: 18px;
}
