body
{
	margin: 0;
	padding: 0;
	background-image: url(../../img/bg_geral.jpg);
	background-repeat: repeat;
	font-family:Lucida Sans Unicode;
	
}

h1, h2, h3, h4, h5, ul, li, a, p
{
	margin: 0;
	padding: 0;
}

/*intro --------------------*/

#container_intro
{
	width: 960px;
	height: 571px;
	margin: 0 auto;
	background-image: url(../../img/bg_intro.jpg);
	background-repeat: repeat;
	margin-top: 50px;
}

.container_idiomas
{
	width: 277px;
	margin: 0 auto;
	padding-top: 83px;
}

.logo_intro
{
	width: 168px;
	margin: 0 auto;
}

.links_idiomas
{
	width: 277px;
	border-top: 1px solid #404040;
	margin-top: 18px;
	padding-top: 15px;
}

a.idioma
{
	float: left;
	font-family: Lucida Sans Unicode;
	font-size: 12px;
	text-decoration: none;
	margin-right: 42px;
	color: #ffffff;
}

a.idioma:hover
{
	color: #3147b2;
}

a.idioma span
{
	color: #3147b2;
}


/*header ---------------------*/

.container_geral
{
	width: 960px;
	margin: 0 auto;
}

.topo
{
	width: 960px;
	margin-top: 12px;
}

.layer_inf
{
	width: 960px;
	position: relative;
	z-index: 1;
}

.divisao_header
{
	width: 960px;
	border-bottom: 1px solid #28449c;
	margin-top: 5px;
}

.logo
{
	width: 90px;
	height: 134px;
	float: left;
	margin-top: 15px;
}

/*drop ------------------- */

.menu
{
	width: 687px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding-top: 130px;
	margin-left: 280px;
}

ul#topnav
{
	margin: 0;
	padding: 0 0 0 0;
	float: left;
	width: 834px;
	list-style: none;
	position: relative;
	font-size: 11px;
	font-family: Lucida Sans Unicode;
}
ul#topnav li
{
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
}
ul#topnav li a
{
	padding: 17px 23px 5px 23px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
ul#topnav li a:hover
{
	color: #F7A30F;
	background-color: Black;
	border-top: 1px solid #28449c;
	border-left: 1px solid #28449c;
	border-right: 1px solid #28449c;
	border-bottom: 2px solid #00000;
	padding: 16px 22px 5px 22px;
}
ul#topnav li span
{
	float: left;
	padding: 9px 10px 0 0;
	position: absolute;
	left: 0;
	top: 37px;
	margin-left: -6px;
	display: none;
	width: 834px;
	color: white;
}
ul#topnav li:hover span
{
	display: block;
}
ul#topnav li span a
{
	display: inline;
	padding: 7px 23px 5px 23px !important;
	margin-right:17px;
}
ul#topnav li span a:hover
{
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: #F7A30F;
	margin-left: 0px;
}

.parceiro
{
	width: 139px;
	height: 134px;
	float: right;
	margin-top: 10px;
}

/*main --------------------*/

.main
{
	width: 960px;
}

.banner_destaque
{
	width: 960px;
	margin-top: 35px;
}

.lateral_banner
{
	width:284px;
	height:395px;
	background-image:url(../../img/bg_lateral_banner.png);
	background-repeat:repeat-y;
	position:absolute;
	z-index:2;
}

.descricao_projeto
{
	width:284px;
	
	}

.descricao_projeto h2
{
	color:#000000;
	font-size:37px;
	padding-top:17px;
	padding-left:25px;
	font-family:Lucida Sans;
}

.descricao_projeto h3
{
	color:Black;
	font-size:24px;
	float:right;
	font-weight:bolder;
	margin-right:53px;
}

.descricao_projeto span
{
	color:#ffffff;
	font-size:14px;
	width:220px;
	margin-left:10px;
	display:block;
	margin-top:15px;

	
}

span.branca
{
	color:#ffffff;
	border:none;
	font-size:37px;
}
.divisao_descricao
{
	width:220px;
	height:1px;
	border-bottom:1px solid #ffb83a;
	margin-left:10px;
	margin-top:5px;
	
	}	
		
/*################### banner carrossel #############################*/
 
.buttons{
	width:155px;
	height:13px;
	position:absolute;
	top:0;
	left:0;
	margin-left:170px;
	margin-top:370px;
}
.buttons span{
	color:#0080FF;
	padding:0 12px;
	cursor:pointer;
	background-image:url(../../img/bullet_banner_inativo.jpg);
	background-repeat:no-repeat;
	width:13px;
	height:13px;	
}
.buttons span.active, .buttons span:hover{
	
	background-image:url(../../img/bullet_banner_ativo.jpg);
	background-repeat:no-repeat;
	width:13px;
	height:13px;
}

#box4{
	position:absolute;
}

#box4 p{
	text-indent:16px;
}

/* ********************************** */

.mask3{
	position:relative;
	width:961px;
	height:395px;
	overflow:hidden;
	z-index:1;
}

.container_banner{
	width:961px;
	height:395px;
	float:left;
}	
 
/*################### fim banner carrossel #############################*/
  
/*footer ---------------------*/

footer
{
	width: 960px;
}

.footer_sup
{
	width: 960px;
	border-bottom: 1px solid #28449c;
	padding-bottom: 5px;
}

.container_link_box
{
	width: 392px;
	float: left;
	margin-top: 10px;
	padding-left: 192px;
}

a.link_box
{
	text-decoration: none;
	font-family: Lucida Sans Unicode;
	font-size: 11px;
	color: #ffffff;
	margin-right: 107px;
}

.titulo_noticias
{
	width: 376px;
	float: left;
}


.titulo_noticias span
{
	color: #F7A30F;
	display: block;
	font-family: Lucida Sans Unicode;
	font-size: 11px;
	margin-top: 13px;
}

.footer_inf
{
	width: 960px;
}

.redes_sociais
{
	width: 567px;
	padding-left: 17px;
	padding-top: 32px;
	float: left;
}

.icone_rede_social
{
	float: left;
	margin-right: 15px;
}

.noticias
{
	width: 376px;
	float: left;
	margin-top: 11px;
}

span.noticia_list
{
	width: 351px;
	padding-left: 25px;
	display: block;
	font-family: Lucida Sans Unicode;
	font-size: 12px;
	color: #ffffff;
	margin-bottom: 24px;
	background-image: url(../../img/bullet_noticias.jpg);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}



/*reutilizável --------------------*/
.margin_right_0
{
	margin-right: 0px !important;
}

.clear
{
	clear: both;
}

/*modal -----------------------*/

.load { position: absolute; top: 50%; left: 50%; width: 88px; height: 78px; margin: -39px 0 0 -44px; z-index: 99999;}
.bg_modal { position: absolute; top: 0; left: 0; z-index: 99998; }
.view_modal { position: absolute; left: 50%; top: 50%; text-align: left; z-index: 99998; }
.modal { visibility: hidden; cursor:pointer; }

.container_contato
{
	width:773px;
	border-bottom:10px solid #2a2a2a;
	background-color:Black;
	padding-left:17px;
	
	
	}

.container_contato h2
{
	font-family:Lucida Sans Unicode;
	color:#F7A30F;
	font-size:32px;
	padding:20px;
	float:left;
	width:400px;
}

.titulo_contato
{
	width:773px; 
}

.divisao_titulo
{
	width:722px;
	border-bottom:1px solid #363636;
	margin-left:23px;
	margin-bottom:22px;
	
	}


.container_espaco_cliente
{
	width:500px;
	border-bottom:10px solid #2a2a2a;
	background-color:Black;
	padding-left:17px;
	
	
	}

.container_espaco_cliente h2
{
	font-family:Lucida Sans Unicode;
	color:#F7A30F;
	font-size:32px;
	padding:20px;
	float:left;
	width:300px;
}

.titulo_espaco_cliente
{
	width:500px; 
}

.divisao_titulo_espaco_cliente
{
	width:450px;
	border-bottom:1px solid #363636;
	margin-left:23px;
	margin-bottom:22px;
	
	}
	

a.close
{
	width:29px;
	height:28px;
	float:right;
	background-image:url(../../img/close.jpg);
	background-repeat:no-repeat;
	overflow:hidden;
	text-indent:-900px;
	margin:23px 32px 0 0;
	
}

.container_campos_info
{
	width:773px;

	}

.container_campo
{
	width:473px;
	float:left;
	padding-left:10px;
	padding-bottom:10px;
}

.campo
{
	width:473px;
	margin-bottom:12px;

}

.campo span
{
	width:88px;
	text-align:right;
	margin-right:12px;
	display:block;
	float:left;
	font-family:Lucida Sans Unicode;
	font-size:14px;
	color:#ffffff;
	margin-top:9px;
	
	}	

.container_info
{
	width:270px;
	float:left;
	padding-left:20px;
	
	}

.container_info h3
{
	font-size:18px;
	font-family:Lucida Sans Unicode;
	color:#ffcc00;
	font-weight:normal;
	
}

.container_info span
{
	font-size:14px;
	font-family:Lucida Sans Unicode;
	color:#ffffff;
	margin-bottom:10px;

	
}	
	

.btn_enviar
{
	width:89px;
	height:40px;
	background-color:Black;
	border:1px solid #4e4e4e;
	color:#ffcc00;
	font-size:18px;
	cursor:pointer;
	float:right;
	margin-right:9px;
	
	}	

.input_contato
{
	width:354px;
	background-color:#292929;
	border:1px solid #4f4f4f;
	height:26px;
	float:left;
	padding:5px;
	color:#ffffff;
	font-family:Lucida Sans Unicode;
	font-size:16px;
	
	}

.input_contato_mensagem
{
	width:354px;
	background-color:#292929;
	border:1px solid #4f4f4f;
	height:86px;
	float:left;
	padding:5px;
	color:#ffffff;
	font-family:Lucida Sans Unicode;
	font-size:16px;
	overflow:hidden;
	
	}

.input_contato_ddd
{
	width:90px;
	background-color:#292929;
	border:1px solid #4f4f4f;
	height:26px;
	float:left;
	padding:5px;
	color:#ffffff;
	font-family:Lucida Sans Unicode;
	font-size:16px;
}

.input_contato_telefone
{
    width:234px;
	background-color:#292929;
	border:1px solid #4f4f4f;
	height:26px;
	float:left;
	padding:5px;
	color:#ffffff;
	font-family:Lucida Sans Unicode;
	font-size:16px;
	margin-left:18px;
	
	}				